---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const users = await getCollection('users');
const designs = await getCollection('designs');
---

<Layout>
	<h1>Hello from catalos</h1>
	<h2>Users</h2>
	{
		users.map((user) => (
			<div>
				<a href={`/user/${user.data.username}`}>{user.data.username}</a>
				<Image src={user.data.photoPath} alt={user.data.firstName} />
			</div>
		))
	}
	<h2>Designs</h2>
	<ul>
		{
			designs.map((design) => (
				<li>
					<a href={`/user/${design.data.owner}`}>{design.data.designName}</a>
				</li>
			))
		}
	</ul>
</Layout>
