---
import Layout from '../layouts/Layout.astro';
import OneDesign from '../components/OneDesign.astro';
import { getCollection, getEntry } from 'astro:content';
//import { getCollection } from 'astro:content';
import { prefixBase } from '../lib/util.ts';

const users = await getCollection('users');
const designs = await getCollection('designs');
---

<Layout>
	<h1>Hello from catalos</h1>
	<h2>Users</h2>
	{
		users.map((user) => (
			<div>
				<a href={prefixBase(`/user/${user.data.username}`)}>{user.data.username}</a>
				<img src={prefixBase(`/u/${user.data.photoPath}`)} alt={user.data.firstName} />
			</div>
		))
	}
	<h2>Designs</h2>
	<ul>
		{
			designs.map(async (desi) => (
				<li>la: {(await getEntry(desi.data.owner)).data.firstName}</li>
			))
		}
		{designs.map((desi) => <OneDesign design={desi} />)}
	</ul>
</Layout>
