---
import type { CollectionEntry } from 'astro:content';
import '@src/styles/styling-vars.css';

interface Props {
	design: CollectionEntry<'designs'>;
}

const { design } = Astro.props;
---

<article>
	<table>
		<caption>Design files</caption>
		<thead>
			<tr>
				<th>File</th>
				<th>Type</th>
				<th>Size</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{
				design.data.files.map((item) => (
					<tr>
						<td>{item.fileName}</td>
						<td>{item.fileType}</td>
						<td>{item.fileSize}</td>
						<td>
							<a href={`u/${design.id}/${item.fileName}`}>raw</a>
						</td>
						<td>view</td>
						<td>
							<a href={`u/${design.id}/${item.fileName}`} download={item.fileName}>
								download
							</a>
						</td>
					</tr>
				))
			}
		</tbody>
	</table>
</article>

<style>
	table > tbody > tr:nth-child(odd) {
		background-color: var(--c4w);
	}
	th,
	td {
		padding: 0.2rem 2rem;
	}
</style>
