---
import {
	urlDxfViewer,
	urlStepViewer,
	urlStlViewer,
	urlGltfViewer,
	urlGlbViewer,
	url3dViewer,
	urlCadViewer,
} from '@src/lib/viewer-url.ts';
import '@src/styles/styling-vars.css';
---

<footer>
	<article>
		<ol>
			<li>List of all designs: <a href="design-list">design-list</a></li>
			<li>Sources of Catalos: <a href="https://github.com/charlyoleg2/catalos">Github</a></li>
			<li>Deployed Catalos: <a href="https://catalos-catalui.vercel.app/">Catalos</a></li>
			<li>
				Catalos is a catalogue of designs made with: <a
					href="https://charlyoleg2.github.io/parametrix/">Parametrix</a
				>
			</li>
			<li>Made with: <a href="https://astro.build/">Astro</a></li>
		</ol>
	</article>
	<article>
		<ol>
			<li>Online DXF viewer: <a href={urlDxfViewer}>Vagran DXF viewer</a></li>
			<li>Online STEP viewer: <a href={urlStepViewer}>stepbro</a></li>
			<li>Online STL viewer: <a href={urlStlViewer}>DualBox STL viewer</a></li>
			<li>Online glTF viewer: <a href={urlGltfViewer}>glTF viewer</a></li>
			<li>Online GLB viewer: <a href={urlGlbViewer}>web3d.be</a></li>
			<li>Online 3D viewer: <a href={url3dViewer}>3dviewer.net</a></li>
			<li>Online CAD viewer: <a href={urlCadViewer}>sharecad.org</a></li>
		</ol>
	</article>
</footer>

<style>
	footer {
		width: 100%;
		padding-bottom: 5rem;
		font-size: 1rem;
		color: var(--c1w);
		background-color: var(--c4w);
		padding-top: 1rem;
		padding-bottom: 5rem;
		margin-top: 10rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
	li {
		color: var(--c2w);
		margin: 0.4rem 4rem;
	}
	a {
		font-weight: bold;
		color: var(--c1w);
	}
</style>
