---
import path from 'node:path';
import Surl from '@src/components/Surl.astro';
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';
import { prunePrefix } from '@src/lib/util.ts';
import '@src/styles/styling-vars.css';

interface Props {
	part: CollectionEntry<'parts'>;
}

const { part } = Astro.props;
const user = await getEntry(part.data.owner);
const userPhoto = path.join('u', user.data.photoPath);
---

<article>
	<section>
		<img alt={userPhoto} src={userPhoto} />
		<div>
			<h2>by {user.id} <span>( {user.data.city} - {user.data.country} )</span></h2>
			<h1>{prunePrefix(part.id)}</h1>
		</div>
	</section>
	<dl>
		<dt><i>Description:</i></dt>
		<dd>{part.data.description}</dd>
		<dt><i>Tags:</i></dt>
		<dd>{part.data.tags.join(', ')}</dd>
	</dl>
	<table>
		<thead>
			<tr>
				<th>Target</th>
				<th>URL</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>UI</td>
				<td><Surl url={part.data.linkToUi} /> </td>
			</tr>
			<tr>
				<td>Sources</td>
				<td><Surl url={part.data.linkToSrc} /> </td>
			</tr>
			<tr>
				<td>npm package</td>
				<td><Surl url={part.data.linkToPkg} /> </td>
			</tr>
			<tr>
				<td>npx cli</td>
				<td><Surl url={part.data.linkToCli} /> </td>
			</tr>
			<tr>
				<td>npx UI-server</td>
				<td><Surl url={part.data.linkToUis} /> </td>
			</tr>
			<tr>
				<td>Maker repo</td>
				<td><Surl url={part.data.linkToRepo} /> </td>
			</tr>
			{
				part.data.linkOthers.map((item) => (
					<tr>
						<td />
						<td>
							<Surl url={item} />
						</td>
					</tr>
				))
			}
		</tbody>
	</table>
</article>

<style>
	section {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;
	}
	section > img {
		width: 10rem;
		height: 10rem;
		object-fit: contain;
	}
	h2 {
		font-size: 1rem;
		font-style: italic;
		font-weight: bold;
		color: var(--c4w);
		margin: 0.5rem 2rem;
	}
	h2 > span {
		font-weight: normal;
	}
	h1 {
		font-size: 2rem;
		font-weight: regular;
		color: var(--c1w);
		margin: 0.2rem 2rem;
	}
</style>
